@media all and (min-width: 901px) {
    .small {
        display: none;
    }

    .nav {
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(45, 45, 45);
        color: white;
    }

    .nav>li {
        list-style: none;
    }

    .main {
        background-color: rgb(234, 233, 233);
        padding-bottom: 5px;
    }

    .main>div {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
    }

    .main>div>div {
        text-align: center;
        margin-right: 20px;


    }

    .home>h3 {
        color: rgb(20, 214, 20);
    }

    .education>h3 {
        color: red;
    }

    .project>h3 {
        color: rgb(252, 220, 14);
    }

    .skills>h3 {
        color: rgb(162, 19, 162);
    }

    .main>div>img {
        height: 60px;
        margin-left: 30px;
    }
}

@media all and (min-width:300px) and (max-width:900px) {
    .main {
        display: none;
    }

    .small {
        background-color: rgb(234, 233, 233);
        padding-bottom: 10px;
        margin: auto;
    }

    .small>nav {

        margin: auto;
        background-color: rgb(41, 41, 41);
        color: rgb(97, 221, 235);
        font-weight: bolder;
        font-size: x-large;
        text-align: center;
        align-content: center;
    }

    .small>nav>select {
        width: 100%;
        height: 40px;
        background-color: rgb(62, 62, 62);
        color: white;
        font-size: large;
    }

    .small>div {
        background-color: white;
        text-align: center;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;

    }

    .small>div>img {
        width: 300px;
        padding: 10px;
        margin-bottom: -20px;
    }

    .small>div>p {
        padding-bottom: 30px;
        font-size: larger;
        color: rgb(94, 92, 92);
    }

    .home>h1 {
        color: rgb(20, 214, 20);
    }

    .education>h1 {
        color: red;
    }

    .project>h1 {
        color: rgb(252, 220, 14);
    }

    .skills>h1 {
        color: rgb(162, 19, 162);
    }

}